<section class="users-section">

  <ul class="users-list">
    <%= render @users%>
  </ul>

  <h2>Friend Requests:</h2>
   <% recieved_friendships%>
   <% @recieved_friendships.each do |r| %>
    <ul class="users-list">
    <%= @users.find_by_id(r.user_id).name %> 
     </ul>
   <% end %> 
</section>
