<section class="users-section">

  <ul class="users-list">
    <%= render @users%>
  </ul>

  <h2>Friend Requests:</h2>
   <% recieved_friendships%>
   <% @recieved_friendships.each do |f| %>
    <ul class="users-list">
    <% @f_id = f.id%>
    <% accept_invitation %>
    <% reject_invitation %>
    <%= @users.find_by_id(f.user_id).name %>  <%=@accept%> <%=@reject%>
     </ul>
   <% end %> 
</section>
